﻿@model EmployeeCrud.Models.Employee;
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 ">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-info">Edit Employee</h1>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Edit">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input type="hidden" asp-for="Id" />

                            <input type="text" asp-for="Name" class="form-control" placeholder="Eneter Employee Name" />
                        </div>
                        <div class="form-group">
                            <label asp-for="State"></label>
                            <input type="text" asp-for="State" class="form-control" placeholder="Eneter State" />
                        </div>
                        <div class="form-group">
                            <label asp-for="City"></label>
                            <input type="text" asp-for="City" class="form-control" placeholder="Eneter City" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Salary"></label>
                            <input type="text" asp-for="Salary" class="form-control" placeholder="Eneter Employee Salary" />
                        </div>
                        <div class="form-group">
                            <label>Manager:</label>
                            <select class="form-control" name="mng">

                                @{
                                    foreach (var manager in ViewBag.manager)
                                    {
                                        <option value="@manager.Id"> @manager.Name</option>

                                    }
                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-sm btn-outline-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


