﻿@model IEnumerable<EmployeeCrud.Models.Employee>
@{
    ViewData["Title"] = "Index";
}

@{ 
    var Data = ViewBag.data;
}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-primary"> Employee Record</h1>
            <div>
                <p class="text-monospace p-1 text-center font-weight-bolder text-success">@TempData["Create"]</p>
                <p class="text-monospace p-1 text-center font-weight-bolder text-warning">@TempData["Edit"]</p>
                <p class="text-monospace p-1 text-center font-weight-bolder text-danger">@TempData["Delete"]</p>
            </div>

            <a class="btn btn-sm m-1 btn-success float-right text-monospace" asp-controller="Employee" asp-action="Create">Create</a>
            <table class="table table-bordered m-1">
                <tr class="text-center text-monospace">
                    <th>Emp.Id</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Salary</th>
                    <th>Manager</th>
                    <th>Action</th>
                </tr>
                @{ 

                    
                        foreach (var tab in Data )
                        {
                    <tr class="text-center">
                        <td>@tab.Id</td>
                        <td>@tab.Name</td>
                        <td>@tab.City</td>
                        <td>@tab.State</td>
                        <td>@tab.Salary</td>
                        <td>@tab.ManagerName</td>
                        

                        <td>
                            <a class="btn btn-sm btn-warning text-monospace m-1" asp-controller="Employee" asp-action="Edit" asp-route-Id="@tab.Id">Update</a>
                            <a class="btn btn-sm btn-danger text-monospace m-1" asp-controller="Employee" asp-action="Delete" asp-route-Id="@tab.Id">Delete </a>

                        </td>
                    </tr>
                            }
                        }
                    
            </table>

        </div>
    </div>

</div>
