﻿@model EmployeeCrud.Models.Manager;
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 ">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-info">Add Manager</h1>
                </div>
                <p class="text-danger text-center font-italic font-weight-bolder m-3">@TempData["C_error"]</p>
                <div class="card-body">
                    <form method="post" asp-action="Create">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Eneter Manager Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="State"></label>
                            <input type="text" asp-for="State" class="form-control" placeholder="Eneter State" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City"></label>
                            <input type="text" asp-for="City" class="form-control" placeholder="Eneter City" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Salary"></label>
                            <input type="text" asp-for="Salary" class="form-control" placeholder="Eneter Manager Salary" />
                            <span asp-validation-for="Salary" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-sm btn-outline-success float-right" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
