﻿@model IEnumerable<EmployeeCrud.Models.Manager>
@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center text-info"> Manager Record</h1>
            <div>
                <p class="text-monospace p-1 text-center font-weight-bolder text-success">@TempData["Create"]</p>
                <p class="text-monospace p-1 text-center font-weight-bolder text-warning">@TempData["Edit"]</p>
                <p class="text-monospace p-1 text-center font-weight-bolder text-danger">@TempData["Delete"]</p>
            </div>

            <a class="btn btn-sm m-1 btn-success float-right text-monospace" asp-controller="Manager" asp-action="Create">Create</a>
            <table class="table table-bordered m-1">
                <tr class="text-center text-monospace">
                    <th>Id</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
                @foreach (var i in @ViewBag.manager)
                {
                    <tr class="text-center">
                        <td>@i.Id</td>
                        <td>@i.Name</td>
                        <td>@i.State</td>
                        <td>@i.City</td>
                        <td>@i.Salary</td>

                        <td>
                            <a class="btn btn-sm btn-warning text-monospace m-1" asp-controller="Manager" asp-action="Edit" asp-route-Id="@i.Id">Update</a>
                            <a class="btn btn-sm btn-danger text-monospace m-1" asp-controller="Manager" asp-action="Delete" asp-route-Id="@i.Id">Delete </a>

                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>

</div>
